<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tarea.pubrundan"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-sdk android:minSdkVersion="7"
          android:targetSdkVersion="8"
          android:maxSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        
        <activity android:name=".WelcomeScreen" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".TheMap"> </activity>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".PubList"></activity>
        <activity android:name=".SettingsMenu"></activity>
        <activity android:name=".Pubs.JAPripps"></activity>
        <activity android:name=".Pubs.Gasquen"></activity>
        <activity android:name=".Pubs.Bulten"></activity>
        <activity android:name=".Pubs.Winden"></activity>
        <activity android:name=".Pubs.Zaloonen"></activity>
        <activity android:name=".Pubs.ClubAvancez"></activity>
        <activity android:name=".Pubs.GoldenI"></activity>
        <activity android:name=".Pubs.Hubben"></activity>
        <activity android:name=".Pubs.Basen"></activity>
        <activity android:name=".Pubs.Kajsabaren"></activity>
        <activity android:name=".Pubs.Jarnvagspub"></activity>
        <activity android:name=".Pubs.GasTown"></activity>
        <activity android:name=".Pubs.FortNOx"></activity>
        <activity android:name=".Pubs.Spritkoket"></activity>
        <activity android:name=".Pubs.Focus"></activity>
        <activity android:name=".Pubs.RodaRummet"></activity>
        <activity android:name=".Pubs.SigurdAfiket"></activity>
        <activity android:name=".Pubs.PubP"></activity>
        <activity android:name=".Pubs.Elvan"></activity>
    </application>
</manifest>