<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tarea.pubrundan"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-sdk android:minSdkVersion="7"
          android:targetSdkVersion="8"
          android:maxSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_CORSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".WelcomeScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TheMap" android:screenOrientation="portrait"> </activity>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".PubList" android:screenOrientation="portrait"></activity>
        <activity android:name=".PubLayout" android:screenOrientation="portrait"></activity>
        <activity android:name=".SettingsMenu" android:screenOrientation="portrait"></activity>
        <activity android:name=".FeedbackForm" android:screenOrientation="portrait"></activity>
        <activity android:name=".AboutPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".GangnamStyle" android:screenOrientation="landscape"></activity>
    </application>
</manifest>